[submodule "cloud-foundation-fabric"]
	path = cloud-foundation-fabric
	url = https://github.com/GoogleCloudPlatform/cloud-foundation-fabric.git
[submodule "gcp-tf-templates"]
	path = gcp-tf-templates
	url = https://undp@dev.azure.com/undp/GoogleCloud/_git/gcp-tf-templates
