project_id                = "boxwood-bee-484209-r9"
region                    = "asia-south1"
zone                      = "asia-south1-b"
terraform_service_account = "asukov-tf-rw@boxwood-bee-484209-r9.iam.gserviceaccount.com"
instance_name         = "minimal-linux-vm-fast"
machine_type          = "e2-medium"
windows_instance_name = "minimal-windows-vm-fast"
windows_machine_type  = "e2-medium"
cloud_run_name        = "example-hello"
cloud_sql_name        = "example-db"
